.sbar {
   
    background-color: lightgray;
    margin-top:50px;
    margin-left:0px;
    padding: 10px;
  }


  .item a{
    color:aliceblue;
    text-decoration: none;
  }

  .item a.activeLink {
    font-weight: bold;
    color: yellowgreen;
  }